* {
    margin: 0px;
    padding: 0px;

}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 237, 237);
}

.gamer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamer {
    font-size: 45px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 210, 210);
    border-radius: 10px;
    width: 180px;
    height: 30px;
}

.menu {
    display: flex;
}

#b {
    padding: 0px 20px;
}

#a {
    color: red;
    padding: 0px 10px;
}

/* nav section end */



/* banner section start */
.banner-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
    /* padding: 0px 100px; */
}

.box1 {
    background-image: url(images/Group\ 14.png);
    padding-top: 70px;

}

.box2 {
    /* border: 2px solid blue; */
    padding: 20px;

}

#imgs {
    max-width: 100%;
}

.play {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.btn1,
.btn2 {
    padding: 7px 20px;
    border-radius: 15px;
    border: none;
    color: azure;
}

.btn1 {
    background-color: #FF42A5;
}

.btn2 {
    background: #4EC5F7;
}

#imgs {
    width: 450px;
}

/* banner section end */


/* step1 start We are gamer */
.We-are-gamer {
    background-color: #FFF9FC;
}

.step1-container {
    margin: 0px 160px;
    display: flex;
    justify-content: space-around;
    background-color: #FFF9FC;
}

.step1-box1 {
    max-width: 100%;
}

#pngwing-4 {
    width: 600px;
}

.step1-box2 {
    text-align: end;
}

.step1-line1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step1-line2 {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.step1-btn {
    background-color: #F948B2;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: wheat;
    border: none;
    border-radius: 20px;
    margin: 10px 0px;
}

#step1-1 {
    color: gray;
    font-size: 20px;
}

#step1-2 {
    font-size: 25px;
    font-weight: 700;
}

/* step1 end We are gamer */


/* Online-Games-Funny-Videos start  */
.Online-Games-Funny-Videos {
    margin-top: 50px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    margin: 20px 130px;
   /* margin-right: 10px; */

}

.card1 {
    width: 280px;
    height: 350px;
    text-align: left;
}

.funny-img {
    width: 250px;
}

.online-games-title {
    font-size: 30px;
    font-weight: 700;
}

.funny-vedio {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.A {
    font-size: small;
    color: rgb(118, 114, 114);
}

.B {
    font-size: 15px;
    color: rgb(118, 114, 114)
}

.j:hover {
    box-shadow: 5px 10px 18px yellow;
}

.k:hover {
    box-shadow: 5px 10px 18px red;
}

.h:hover {
    box-shadow: 5px 10px 18px green;
}

.l:hover {
    box-shadow: 5px 10px 18px blue;
}

/* #hh:hover{
    position: relative;
    font-size: 30px;
    color: #F948B2;
} */


/* Online-Games-Funny-Videos end  */


.box5-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: end;
    margin:50px 0px;
   }
   .box-8{
    text-align:right;
    
   }
   .small{
    display: flex;
    margin-top: -200px;
    margin-right:450px;
   }
   #TT{
    max-width: 550px;
   }
   #tt{
    max-width: 200px;
   }
   .kk{
    font-size: 40px;
    font-weight: 700;
   }
   .KK{
    font-size: 15px;
    line-height: 30px;
   }



























@media screen and (max-width:576px) {

    /* nav movile view start */
    .nav-container {
        flex-direction: column;

    }

    .nav-menu {
        flex-direction: column;
    }

    .menu,
    h3 {
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    /* nav movile view end */


    /* banner mobile view start */
    .banner-container {
        flex-direction: column-reverse;
        margin: 0px 5px;
    }

    .box2 {
        padding: 20px;
        margin: 0px 30px;
    }

    .box2 {
        padding: 5px;
    }

    .play {
        font-size: 30px;
    }

    .goat {
        font-size: 60px;
    }

    /* banner mobile view end */



    /* step1 start mobile view We are gamer */
    .step1-container {
        flex-direction: column;
        margin: 0px 0px;
    }

    #pngwing-4 {
        width: 300px;
    }

    .step1-box2 {
        text-align: center;
    }

    .step1-line2 {
        font-size: 15px;
        font-weight: 400;
    }

    .step1-btn {
        margin: 0px 0px;
    }

    /* step1 end mobile view We are gamer */


    /* Online-Games-Funny-Videos start mobile view  */
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 90px;

    }

    /* Online-Games-Funny-Videos end mobile view  */

    .box5-container{
        flex-direction: column;
       }
       .box-8{
        text-align:right;
        
       }
       .small{
        margin-top: -80px;
        margin-right: 0px;
        /* margin-left: 80px; */
       }
       #TT{
        max-width: 250px;
        
       }
       #tt{
        max-width: 100px;
        
       }
       .kk{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
       }
       .KK{
        font-size: 10px;
        line-height: 30px;
       }

}